@import url('https://fonts.cdnfonts.com/css/apercu');
@import url('https://fonts.cdnfonts.com/css/abigate-desgo');

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

.logoleft {
    margin-left: 1vw;
    display: inline-block;
}

ul {
    transform: rotate(-90deg);
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -50px;
    top: 50%;
    list-style-type: none;
  }
  
  /* Style the links */
  ul li {
    display: inline-block;
    margin: 10px;
  }
  
  /* Make the webpage responsive */
  /* @media (max-width: 600px) {
    ul {
      left: -30px;
    }
  } */

h1 {
    color: #222222;
    font-family: "apercu", sans-serif;
    margin-left: 17.6vw;
    margin-top: -29vw;
    font-size: 5vw;   
}

p {
    text-align: left;
    color: #222222;
    font-family: "apercu", sans-serif;
    margin-top: -1vw;
    font-size: 1.5vw;
    margin-left: 18vw;
    margin-right: 20vw;
    justify-content: left;
    text-align: left;
    margin-top: 5vw;
   
}
