@import url('https://fonts.cdnfonts.com/css/apercu');
@import url('https://fonts.cdnfonts.com/css/abigate-desgo');

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}


header {
    width: 100%;
    display: inline-block;
    margin-top: 1vw;
    margin-left: 1vw;
}

header h4 {
    position: absolute;
    margin-left:3vw;
    margin-top: 2.1vw;
    font-size: 1.6vw;
    color: #222222;
    font-family: "apercu", sans-serif;
    z-index: 3;
    display: inline-block;
}

.logoleft {
    /* margin-left: 1vw; */
    margin-left: 2vw;
    margin-top: 1.8vw;
    display: inline-block;
}

.links {
    
    word-spacing: 2.8vw;
    text-align: center;
    margin-left: 68vw;
    margin-top: -2vw;
    color: #222222;
}

.link {
    font-weight: bold;
    color: #222222;
    font-size: 1vw;
    font-family: "apercu", sans-serif;
    display: inline-block;
    position: relative;
}

.link:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    border-radius: 0px;
    background-color: #222222;
    bottom: 0;
    left: 0;
    transform-origin: top;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: top;
    transform: scaleX(1);
  }

.article {
    margin-top: 16vw;
}

.win1a {
    color: #222222;
    font-family: "apercu", sans-serif;
    text-align: left;
    margin-left: 9.5vw;
    font-size: 5vw;   
}

.win1b {
    color: #222222;
    font-family: "apercu", sans-serif;
    text-align: left;
    margin-left: 18vw;
    margin-top: -4vw;
    font-size: 1.5vw;   
}

.win1c {
    text-align: left;
    color: #222222;
    font-family: "apercu", sans-serif;
    font-size: 1.5vw;
    margin-left: 18vw;
    margin-right: 30vw;
    justify-content: left;
    text-align: left;
    margin-top: 5vw;
}




