@import url('https://fonts.cdnfonts.com/css/apercu');
@import url('https://fonts.cdnfonts.com/css/abigate-desgo');

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

h1 {
    font-size: 1.7vw; 
    font-family: "apercu", sans-serif;
    color: #222222;
}

header {
    width: 100%;
    display: inline-block;
    margin-top: 1vw;
    margin-left: 1vw;
}

header h4 {
    position: absolute;
    margin-left:3vw;
    margin-top: 2.1vw;
    font-size: 1.6vw;
    color: #222222;
    font-family: "apercu", sans-serif;
    z-index: 3;
    display: inline-block;
}

.logoleft {
    margin-left: 2vw;
    margin-top: 1.8vw;
    display: inline-block;
}

.intro {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #222222;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 3;
}

.logo {
    font-family: "apercu", sans-serif;
    position: relative;
    display: inline-block;
    margin-top: 7vw;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 3;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
    z-index: 3;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
    z-index: 3;
}

.span2 {
    margin-top: 9vw;
    margin-left: 22vw;
    font-size: 10vw;
    text-align: left;
    font-family: "apercu", sans-serif;
    font-weight: bold;
    margin-left: 9vw; 
    line-height: 8.5vw; 
    color: #222222;
    z-index: 1;
}

.arrowtitle {
    margin-top: 0vw;
    margin-left: 1vw;
}

.myname {
    margin-left: 11vw;
    margin-top: -9vw;
    font-size: 1.85vw; /*1.28;*/
    color: #222222;
    font-weight: bold;
    font-family: "apercu", sans-serif;
    z-index: 1;
    position: absolute;
    line-height: 10px;
}

.desktop {
    display: none;
}

.linksresponsiv {
    display: none;
}


.hand {
    position: absolute;
    margin-top: -32.5vw;
    margin-left: 63vw;  
    /* -webkit-transform: rotate(20deg) skewY(20deg);  */
}

.links {
    word-spacing: 2.8vw;
    text-align: center;
    margin-left: 71vw;
    margin-top: -2vw;
    color: #222222;
}

.link {
    font-weight: bold;
    color: #222222;
    font-size: 1vw;
    font-family: "apercu", sans-serif;
    display: inline-block;
    position: relative;
}

.link:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    border-radius: 0px;
    background-color: #222222;
    bottom: 0;
    left: 0;
    transform-origin: top;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: top;
    transform: scaleX(1);
  }

.contact {
    display: inline-block;
    text-align: right;
    font-family: "apercu", sans-serif;
    line-height: 1.6vw;
    font-size: 1.5vw;
    margin-top: -7vw;
    margin-left: 77vw;
    font-weight: bold;
    color: #222222;
}

.arrow {
    width: 20%;
}

.rights {
    position: absolute;
    font-family: "apercu", sans-serif;
    font-size: 0.8vw;
    line-height: 0.7vw;
    margin-top: -1.5vw;
    margin-left: 3.3vw;
    font-weight: bold;
    color: #222222;
    text-align: left;
}

.arrowmini {
    max-width: 100%;
    max-height: 100%;
    width: 1.5vw;
    height: 1.5vw;
}

.littlearrowlink {
    width: 6%;
}

/*///////////////////////////////////////////////////////////////////////////   MEDIA QUERIES   ///////////////////////////////////////////////////////////////////////////////////////*/


@media (max-width: 600px) {
    

    h1 {
        font-size: 5vw; 
        font-family: "apercu", sans-serif;
        color: #222222;
        align-items: center;
        margin-top: 10vw;
    }

    header {
        display: none;
    }

    .linksresponsiv {
        display: inline;
        word-spacing: 2.8vw;
        text-align: center;
        margin-top: 57vw;
        margin-left: 12vw;
        color: #222222;
        position: absolute;
    }
    
    .linkresponsiv {
        font-weight: bold;
        color: #222222;
        font-size: 3vw;
        font-family: "apercu", sans-serif;
    }

    /* .desktop {
        display: block;
        margin-top: -13vw;
        margin-left: 15vw;
        font-size: 2.7vw;
        color: #222222;
        font-weight: bold;
        font-family: "apercu", sans-serif;
    } */

    .container .popup {
        display: none;
      }
    
    .span2 {
        margin-top: 15vw;
        margin-left: 9vw;
        font-size: 17vw;
        text-align: left;
        font-family: "apercu", sans-serif;
        font-weight: bold; 
        line-height: 13.5vw; 
        color: #222222;
        position: absolute;
    }
    
    .arrowtitle {
        /* margin-top: 4vw;
        margin-left: 1vw; */
        display: none;
    }

    .myname {
        display: none;
    }

    .hand {
        position: absolute;
        margin-top: 100vw;
        margin-left: 33vw;  
        width: 60%;
    }

    .rights {
        position: absolute;
        text-align: left;
        font-family: "apercu", sans-serif;
        font-size: 2vw;
        line-height: 2vw;
        margin-top: 161vw;
        margin-left:10vw;
        font-weight: bold;
        color: #222222;
    }

    .contact {
        text-align: right;
        font-family: "apercu", sans-serif;
        font-size: 5vw;
        margin-top: 145vw;
        margin-left: 17vw;
        font-weight: bold;
        color: #222222;
        display: inline-block;
        position: absolute;
    }
    
    .littlearrowlink {
        width: 6%;
    }
}


@media (orientation: landscape) {
    
    

}