@import url('https://fonts.cdnfonts.com/css/apercu');
@import url('https://fonts.cdnfonts.com/css/abigate-desgo');

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.intro {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #222222;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 3;
    display: flex;
}

.logo {
    font-family: "apercu", sans-serif;
    position: relative;
    display: inline-block;
    margin-top: 7vw;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 3;
    display: flex;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
    z-index: 3;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
    z-index: 3;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    margin-left: 3vw;
    margin-top: 3vw;
    gap: 30vw;
    flex-wrap: nowrap;
}

.container > section {
    flex: 1;
    margin: 10px;
    text-align: left;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    align-items: center;
}

.logolittle {
    width: 100px;
    margin-top: -2vw;
}

.hey {
    font-family: "apercu", sans-serif;
    color: #222222;
    font-size: 1.5vw;
    font-weight: bold;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    margin-left: 3vw;
    margin-top: 10vw;
}

.container2 > section {
    flex: 1;
    margin: 10px;
    text-align: left;
}

.ulleft {
    transform: rotate(-90deg);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: -7.8vw;
    margin-left: -26.5vw;
    list-style-type: none;
    font-family: "apercu", sans-serif;
    color: #222222;
    font-size: 1.1vw;
    font-weight: bold;
    display: flex;
    gap: 0px 22px;
   
  }
  
.ulleft li {
    margin: 10px;
    display: flex;
  }

.welcome {
    font-size: 10vw;
    text-align: left;
    font-family: "apercu", sans-serif;
    font-weight: bold;
    margin-left: -25vw; 
    line-height: 8.5vw; 
    color: #222222;
    display: flex;
    margin-top: -3vw;
}

.arrowtitle {
    margin-top: -16.8vw;
    margin-left: 17vw;
}

.arrowwelcome {
    width: 100%;
    display: flex;
    margin-top: 15vw;
    margin-left: -5vw;
}

.hand {
    display: flex;
    width: 90%;
    margin-top: -11vw;
    margin-left: -3vw;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    margin-left: 3vw;
    gap: 30vw;
    margin-top: -3vw;
}

.container3 > section {
    flex: 1;
    margin: 10px;
    text-align: left;
}

.ulright {
    text-align: right;
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    font-family: "apercu", sans-serif;
    color: #222222;
    font-size: 1.1vw;
    font-weight: bold;
  }
  
.ulright li {
    display: inline-block;
  }

/*////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 600px) {
    .container {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .container > section {
        flex: initial;
        width: 100%;
    }

    .container2 {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .container2 > section {
        flex: initial;
        width: 100%;
    }

    .container3 {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .container3 > section {
        flex: initial;
        width: 100%;
    }
}