@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: #f2f2f2;
    color: #222222;
    padding: 0.5rem;
    border-radius: 10%;

    @apply dark:bg-[#222222];
    @apply dark:text-[#f2f2f2];
}

.cont {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 350px;
  }
  
  .boxy {
    flex: 1;
    overflow: hidden;
    transition: 1s;
    margin: 0 2%;
    /* box-shadow: 0 20px 30px rgba(0,0,0,.1); */
    line-height: 0;
  }
  
  .boxy > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: .5s;
  }
  
  .boxy:hover { flex: 1 1 80%; }
  .boxy:hover > img {
    width: 100%;
    height: 100%;
    transform: scale(1);
  }

  