@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: #f2f2f2;
    color: #222222;
    padding: 0.5rem;
    border-radius: 10%;

    @apply dark:bg-[#222222];
    @apply dark:text-[#f2f2f2];
}


@layer base {

.section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
}

}

.video-container {
    --border-width: 40px;
    margin: var(--border-width) auto;
    position: sticky;
    top: var(--border-width);
    width: 800px;
    backdrop-filter: blur(4px) brightness(150%);
  }
/*   
  video {
    width: 400px;
    position: relative;
  } */